<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>expressjs routing</title>
    <link ref="stylesheet" href="../public/style.css">
    <link rel="stylesheet" href="public/node_modules/@fortawesome/react-fontawesome/">
    <link ref="stylesheet" href="../public/bootstrap/dist/css/bootstrap.css">
    <link ref="stylesheet" href="../public/mdbootstrap/css/mdb.css">

</head>

<body>

    <section class="p-3">
        <div class="container">
            <div class="row">
                <div class="col">
                    <p class="h3">contact</p>
                    <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam sapiente dolorum impedit aperiam laudantium illum quisquam et beatae est. Corrupti repudiandae laborum sit nihil provident ex, ipsum doloremque, ratione molestias maxime
                        nobis quas quidem mollitia adipisci dolorem recusandae? Quod, tempora!</p>
                    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente nemo magnam tempora deleniti laboriosam modi, nobis molestiae tenetur maxime molestias ipsum magni fuga vitae vel. Veritatis in, culpa nulla earum porro reprehenderit
                        velit repellat? Deserunt corporis consequuntur ipsam dolores quidem officiis, temporibus deleniti, facilis veritatis, ipsum vel optio dolorem soluta quos ad harum rerum praesentium qui nostrum consequatur ea tenetur autem nihil.
                        Harum corporis nobis totam error sequi facere libero illo corrupti consectetur ipsam velit, similique quidem, labore necessitatibus nemo recusandae! Laboriosam cupiditate eveniet quas debitis ea quia quo ab a ipsa deserunt officia
                        iste aspernatur, deleniti nobis harum sapiente velit sunt inventore tenetur neque nesciunt nihil. Id, excepturi suscipit! Earum nesciunt, sapiente corrupti facere delectus sunt commodi at dolor ratione reprehenderit quo deleniti
                        similique, possimus optio reiciendis ipsa distinctio alias unde consequatur voluptate porro sed fugit. Illum consequatur ullam delectus expedita, temporibus voluptas asperiores dolorum in vitae explicabo corporis doloribus quam
                        alias sapiente quo ut sequi aut nam beatae doloremque aspernatur, aperiam hic ipsam architecto! Adipisci blanditiis voluptatem assumenda cum, at accusamus molestiae nobis illo quasi dolorum aspernatur labore excepturi cupiditate
                        tenetur dolor quaerat et ab, incidunt aut? Ratione aut fuga qui quae doloremque hic assumenda culpa facere nemo!</p>
                    <button>Submit</button>
                </div>
            </div>
        </div>
    </section>
</body>