< !DOCTYPE html >
    <
    html lang = "en" >
    <
    head >
    <
    meta charset = "UTF-8" >
    <
    meta name = "viewport"
content = "width=device-width, initial-scale=1.0" >
    <
    title > HTML page with server connection <
    /title> <
link rel = "stylesheet"
type = "text/css"
href = "./style.css" >
    <
    /head> <
body >
    <
    nav >
    <
    a href = "/" > Home <
    /a> <
a href = "/about" > About <
    /a> <
a href = "/service" > Service <
    /a> <
a href = "/contact" > Contact <
    /a> < /
    nav >

    <
    div >
    <
    h2 > Welcome to Node.js <
    /h2> <
p > Here 's the content for the Home page.</p>
    <!-- Add the rest of your Home page content here -->
    <
    p > I am a web developer passionate about creating beautiful and functional websites.My goal is to deliver outstanding online experiences
for users. <
    /p> <
br >
    <
    /div> < /
    body > <
    /html>